.scrib-container {
  display: flex;

  .scrib-article {
    width: 50%;
    height: 100%;
    padding: 10px;

    textarea.response {
      //min-height: 200px;
    }

    textarea, .response {
      resize: none;
      display: block;
      font-size: 13px;
      line-height: 1.4em;
      //font-family: ;
      overflow-y: hidden;
      width: 100%;
      height: 100%;
      border: 2px dashed transparent;
      padding: 5px;
      box-sizing: border-box;
      transition: border $animation-delay;


      .response-content {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        line-height: 1.3em;
      }

      .loader {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        background: url(../images/tail-spin.svg) top left no-repeat;
        height: 38px;
        width: 38px;
      }

      &.article {
        margin-bottom: 20px;
      }

      &:hover, &:focus {
        border: 2px dashed $default-color;
      }

      &.disabled {
        background-color: $lighter-grey;
        color: $darker-grey;

        &:hover, &:focus {
          border: 2px dashed transparent;
        }
      }
    }

    .actions {
      margin: 20px 0;

      .bad-summarization, .confirm-summarization, .edit-summary {
        display: inline-block;
        vertical-align: middle;
      }

      .grades {
        display: inline-block;
        font-size: 25px;
        vertical-align: middle;

        .active {
          color: #d9cb29;
        }

        &.disabled {

          span {
            color: #838383;

            &.active {
              color: #838383;
            }
          }
        }
      }
    }
  }
}

.scrib-url{
  width: 100% !important;
  height: 50px !important;
}

.scrib-badge {
  padding: 2px 5px;
  border-radius: $border-radius;

  &.success {
    background-color: $dark-green;
    color: $white;
  }
  &.error {
    background-color: $light-red;
    color: $white;
  }
}